name: Build Container Image
on:
  push:
    branches:
      - 'master'
    tags:
      - 'v*'

jobs:
  build_image:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - uses: docker/setup-buildx-action@v3.11.1

      - uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create tagname
        id: tagname
        run: |
          VERSION="$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')"
          # 2193: ${{ github.ref }} will replaced by GitHub Actions
          # shellcheck disable=SC2193
          [[ "${{ github.ref }}" == refs/tags/* ]] && VERSION="${VERSION/v/}"
          [[ "$VERSION" == "master" ]] && VERSION=latest
          # shellcheck disable=SC2193
          [[ "${{ github.ref }}" == refs/pull/* ]] && VERSION=dontpush
          echo "$VERSION"
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"


      - name: Build and Push
        uses: docker/build-push-action@v6.18.0
        if: "! startsWith(github.ref, 'refs/pull/')"
        with:
          context: .
          platforms: linux/amd64
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ghcr.io/yanorei32/http-alu:${{ steps.tagname.outputs.version }}

      - name: Build and Push
        uses: docker/build-push-action@v6.18.0
        if: "startsWith(github.ref, 'refs/pull/')"
        with:
          context: .
          platforms: linux/amd64
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ghcr.io/yanorei32/http-alu:${{ steps.tagname.outputs.version }}
